.header-container {
  background-color: var(--rojo);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}

.menubar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 55px;
}

.menubar-buttons {
  border-radius: 50%;
  margin: 5px;
  background-color: white;
  z-index: 10;
  border: none;
}

.menubar-buttons:hover {
  background-color: var(--rojo);
}

.menubar-icons {
  width: 30px;
  height: 30px;
  margin: 5px;
  color: black;
}

.menubar-icons:hover {
  color: white;
}

.logo {
  content: url(/public/logoEpi.png);
  width: 150px;
  margin: 20px 10px 20px 30px;
  align-self: center;
}

.modal {
  background: rgba(33, 41, 52, 0.85);
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  position: fixed;
  z-index: 999;
}

.window {
  background: white;
  border-radius: 10px;
  border: 5px solid var(--rojo);
  box-shadow: 0 1px 3px rgba(33, 41, 52, 0.75);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1020px;
  min-width: 1000px;
  overflow: scroll;
  position: relative;
  width: 100%;
  padding: 20px;
  font-size: 1.3rem;
  height: 500px;
}
.epiCalendar-container {
  width: 1000px;
  height: 2000px;
}

.window-header-fixed {
  position: fixed;
}

.window-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.modal-text {
  text-align: justify;
  margin: 60px 0 20px 0;
}

@media only screen and (max-width: 980px) {
  .logo {
    width: 150px;
    margin: 20px 10px 20px 5px;
  }

  .window {
    max-width: 320px;
    min-width: 300px;

    height: 500px;
  }
  .epiCalendar-container {
    width: 320px;
    height: 440px;
  }
}
