*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big-container-add-user{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;

margin: auto;
margin-top: 50px;
margin-bottom: 50px;
}

.title-users{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px;
    padding: 10px;
}

.addUser-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

width: 100%;
}

.add-user-title{
display: flex;
justify-content: center;
align-items: center;
margin: 0;
}

.smallContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
width: 100%;

}

.admin{
    justify-self: flex-start;
}

.titleLabel{
    border-radius: 5px;
    padding: 10px ;
    margin: 10px 10px;
    color: white;
    font-weight: bold;
    width: 150px;
    background-color: var(--rojo);
    box-shadow: 2px 2px 2px gray;
    border: none;
    border: 2px solid var(--rojo);
    width: 40%;
}

.addUdser-input{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--salmon);
height: 40px;
    font-size: 18px;
    color: var(--naranja);  
    width: 60%;
}

.addUdser-checkbox{
    margin: 10px;
    padding: 5px;

  height: 40px;
    font-size: 18px;
    color: var(--naranja);  
    width: 60%;
cursor: pointer;

}